{% extends 'base.html' %}
{% load static %}
{% block title %}Accueil - EasyBus{% endblock %}

{% block content %}

<!-- Hero Section -->
<section class="hero text-white text-center py-5 bg-info" style="position: relative;">
    <div class="container">
        <h1 class="display-4">Réservez votre trajet en bus</h1>
        <p class="lead">Voyagez en toute sécurité et confort avec EasyBus.</p>
    </div>
    <div class="background-image" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-image: url('{% static 'trajets/images/bus.jpg' %}'); background-size: cover; z-index: -1;"></div>
</section>

<!-- Formulaire sous forme de carte avec personnalisation -->
<section class="container mt-5 " style="position: relative; z-index: 1;" >
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center">Choisissez votre trajet</h2>



                   <form method="get" name="ChercherTrajet" action="{% url 'index' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="d-block">Type de voyage</label>
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" id="allerSimple" name="tripType" value="allerSimple">
                            <label class="form-check-label" for="allerSimple">Aller Simple</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" id="allerRetour" name="tripType" value="allerRetour">
                            <label class="form-check-label" for="allerRetour">Aller-Retour</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="departureDate">Date d'aller</label>
                                <input type="date" class="form-control" id="departureDate" name="departureDate">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="returnDate">Date de retour</label>
                                <input type="date" class="form-control" id="returnDate" name="returnDate" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="departureCity">Ville de départ</label>
                                <select class="form-control" id="departureCity" name="departureCity">
                                    {% for city, city_name in VILLES_CHOICES %}
                                        <option value="{{ city }}">{{ city_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="arrivalCity">Ville d'arrivée</label>
                                <select class="form-control" id="arrivalCity" name="arrivalCity">
                                    {% for city, city_name in VILLES_CHOICES %}
                                        <option value="{{ city }}">{{ city_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                     <!-- Champ pour le nombre de passagers -->
                    <div class="form-group">
                        <label for="passengers">Nombre de passagers</label>
                        <input type="number" class="form-control" id="passengers" name="passengers" min="1" value="1">
                    </div>
                    <!-- Reste du formulaire... -->
                    <div class="text-center">
                        <button type="submit" class="btn btn-info btn-lg">Rechercher</button>
                    </div>
                </form>


                </div>
            </div>
        </div>
        <div class="col-md-6">
         <!-- Liste des trajets -->
            {% if trajets %}

            {% for trajet in trajets %}
            <div class="row mb-4">
                <div class="col-md-12">
<div class="card">
            <div class="card-header">
                <div class="float-left">
                     <i class="fas fa-wifi"></i> <!-- Icône Wi-Fi -->
                    <i class="fas fa-bus"></i> <!-- Icône Bus -->
                    <i class="fas fa-charging-station"></i> <!-- Icône Chargeur -->
                </div>
                <div class="float-right">
                    <b>Prix : {{ trajet.prix }} DA</b>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="card-body">
                <div class="float-left">
                    <h5 class="card-title">Trajet de {{ trajet.lieu_depart }} à {{ trajet.lieu_arrivee }}</h5>
                    <p class="card-text">Date de départ : {{ trajet.date_depart }}</p>
                    <p class="card-text">Date d'arrivée : {{ trajet.date_arrivee }}</p>
                    <p class="card-text">Durée de trajet : <b>{{ trajet.duree_formattee }}</b></p>


                </div>
                <div class="float-right bottom-right">
                    <a  href="{% url 'details_trajet' trajet.id %}" class="btn btn-info">Continuer</a>
                </div>

            </div>

        </div>                </div>
            </div>
            {% endfor %}

            {% else  %}
            <div class="text-center">
                <p style="font-weight: bold;">Oups! Aucun trajet disponible pour cette date de recherche.</p>
                <a href="{% url 'index' %}" class="btn btn-info">Retour à la page de recherche</a>
            </div>
            {% endif %}
        </div>
    </div>
</section>

<!-- Main Content -->
<main class="container mt-5">
    <!-- Votre contenu ici -->
</main>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const allerSimpleRadio = document.getElementById('allerSimple');
        const allerRetourRadio = document.getElementById('allerRetour');
        const returnDateInput = document.getElementById('returnDate');
        const departureCitySelect = document.getElementById('departureCity');
        const arrivalCitySelect = document.getElementById('arrivalCity');

        // Ajoutez un écouteur d'événements au changement de la ville de départ
        departureCitySelect.addEventListener('change', function () {
            // Récupérez la valeur sélectionnée de la ville de départ
            const selectedDepartureCity = departureCitySelect.value;

            // Parcourez toutes les options de la ville d'arrivée
            for (const option of arrivalCitySelect.options) {
                // Si l'option correspond à la ville de départ, désactivez-la
                if (option.value === selectedDepartureCity) {
                    option.disabled = true;
                } else {
                    option.disabled = false;
                }
            }
        });

        // Fonction pour activer ou désactiver le champ de date de retour
        function toggleReturnDateField() {
            returnDateInput.disabled = !allerRetourRadio.checked;
        }

        // Écouteurs d'événements pour détecter les changements dans les boutons radio
        allerSimpleRadio.addEventListener('change', toggleReturnDateField);
        allerRetourRadio.addEventListener('change', toggleReturnDateField);

        // Appel initial pour configurer l'état du champ de date de retour
        toggleReturnDateField();

        // Ajoutez un écouteur d'événements au changement de la date de départ
        departureDateInput.addEventListener('change', function () {
            // Récupérez la date de départ sélectionnée
            const departureDate = new Date(departureDateInput.value);

            // Si la date de retour est antérieure à la date de départ, réinitialisez-la
            if (returnDateInput.value) {
                const returnDate = new Date(returnDateInput.value);
                if (returnDate <= departureDate) {
                    returnDateInput.value = '';
                }
            }

            // Définissez la limite minimale de la date de retour comme étant la date de départ
            returnDateInput.min = departureDateInput.value;
        });

        // Ajoutez un écouteur d'événements au changement de la date de retour
        returnDateInput.addEventListener('change', function () {
            // Récupérez la date de départ et la date de retour sélectionnées
            const departureDate = new Date(departureDateInput.value);
            const returnDate = new Date(returnDateInput.value);

            // Si la date de retour est antérieure à la date de départ, réinitialisez-la
            if (returnDate <= departureDate) {
                returnDateInput.value = '';
            }
        });
    });
</script>








{% endblock %}
