{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <!-- Colonne de date -->
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="date-box text-dark text-center">
                <h3>listes des trajets</h3>
            </div>
        </div>
    </div>

    <!-- Liste des trajets -->
    {% if trajets_index %}

    {% for trajet in trajets_index %}
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Trajet de {{ trajet.lieu_depart }} à {{ trajet.lieu_arrivee }}</h5>
                    <p class="card-text">Date de départ : {{ trajet.date_depart }}</p>
                    <p class="card-text">Date d'arrivée : {{ trajet.date_arrivee }}</p>
                </div>
                <div class="card-footer">
                    <a href="" class="btn btn-primary">Continuer</a>
                    <p class="float-right">Prix : {{ trajet.prix }} DA</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    {% else  %}
    <div class="text-center">
        <p style="font-weight: bold;">Oups! Aucun trajet disponible pour cette date de recherche.</p>
        <a href="{% url 'index' %}" class="btn btn-info">Retour à la page de recherche</a>
    </div>
    {% endif %}
</div>
{% endblock %}
