{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <!-- Colonne de date -->
<div class="row mb-4">
    <div class="col-md-6 offset-md-3 text-center">
        <div class="date-box text-dark">
            <h3>Liste des trajets disponibles</h3>
        </div>
        <form method="get" action="{% url 'liste_trajets' %}" class="mt-3">
            <div class="form-group d-flex">
                <input type="date" class="form-control" id="{{ trajet_filter.date_min.id_for_label }}"
                       name="{{ trajet_filter.date_min.name }}" value="{{ trajet_filter.date_min.value }}">
                <button type="submit" class="btn btn-info ml-2">Chercher</button>
            </div>
        </form>
    </div>
</div>
    <!-- Liste des trajets -->
    {% for trajet in trajets %}
<div class="row mb-4">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="float-left">
                     <i class="fas fa-wifi"></i> <!-- Icône Wi-Fi -->
                    <i class="fas fa-bus"></i> <!-- Icône Bus -->
                    <i class="fas fa-charging-station"></i> <!-- Icône Chargeur -->
                </div>
                <div class="float-right">
                    <b>Prix : {{ trajet.prix }} DA</b>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="card-body">
                <div class="float-left">
                    <h5 class="card-title">Trajet de {{ trajet.lieu_depart }} à {{ trajet.lieu_arrivee }}</h5>
                    <p class="card-text">Date de départ : {{ trajet.date_depart }}</p>
                    <p class="card-text">Date d'arrivée : {{ trajet.date_arrivee }}</p>
                    <p class="card-text">Durée de trajet : <b>{{ trajet.duree_formattee }}</b></p>

                </div>
                <div class="float-right bottom-right">
                    <a  href="{% url 'details_trajet' trajet.id %}" class="btn btn-info">Continuer</a>
                </div>

            </div>

        </div>
    </div>
</div>

    {% endfor %}
</div>
<style>

.bottom-right {
    position: absolute;
    bottom: 15px; /* Ajustez la valeur en fonction de la position verticale souhaitée */
    right: 10px; /* Ajustez la valeur en fonction de la position horizontale souhaitée */
}
</style>
{% endblock %}
