/* Reset CSS for basic styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    padding: 40px;
}

.features {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature {
    text-align: center;
    margin: 0 10px;
}

.feature img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;
}

.bottom-right {
    position: absolute;
    bottom: 10px; /* Ajustez la valeur en fonction de la position verticale souhaitée */
    right: 10px; /* Ajustez la valeur en fonction de la position horizontale souhaitée */
}


/* Dans votre fichier CSS */
.footer {

    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff; /* Vous pouvez personnaliser la couleur d'arrière-plan */
    padding: 100px; /* Ajustez la valeur de rembourrage selon vos besoins */
    z-index: 100; /* Assurez-vous que le pied de page est au-dessus du contenu */
}
